@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{

    --font-principal: "Roboto Mono", monospace;
}

*{

    margin: 0%;
    padding: 0%;
    
}

body{

    background-color: black;
    display: flex;
    justify-content: center;
    

}

.main{

    box-sizing: border-box;

    background-color: rgb(22, 22, 22);
    padding: 10% 5%;
    margin: 10%;
    border-radius: 3%;
    

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 82px;
    flex-direction: column;

    transition: .5s;
    

}

.me{

  border-radius: 100%;
  width: 300px;
  height: 300px;
  transition: .5s;
  
  }


  /********************************************************************************************
  .flip__image {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip__image__interno {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .flip__image:hover .flip__image__front {
    transform: rotateY(180deg);
  }
  
  .flip__image__front,
  .flip__image__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip__image__front {
    background-color: #bbb;
    color: black;
  }
  
  .flip__image__back{
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
  /*************************************************************************************************/

.title{



    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    
}

.title__name{

    color: white;
    font-family: var(--font-principal);
}

.subtitle{

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 82px;
    
   
}

.title__about{


    display: flex;
    justify-content: center;
    text-align: center;    
    align-items: center;
    color: white;
    font-size: 20px;
    color: rgb(145, 143, 143);
    
    
}

.title__highlight{

    color: red;
    font-family: var(--font-principal);
   
}

.links{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16.5px;
    width: 50%
    

}

.links__deco{

    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    gap: 12px;
    width: 560px;


    font-family: var(--font-principal);
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 24px;
    color: white;
    background-color: rgb(51, 50, 50);

    font-weight: 400;

    transition: .5s;
}

.links__deco:hover{

    transform: scale(1.1);
    

    background-color: red;
    color: black;
}



@media screen and (max-width: 728px){
      .main{
        flex-direction: column;
        gap: 20px;
        width: auto;
        }

    .me{
        width: 200px;
        height: 200px;
        
    }

    .title{

        text-align: center;
    
    }

    .links{
        width: 70%;
    }

    .links__deco{
        width: 70%;
        font-size: 1rem;
    }

  }


